import(methods)
import(RSQLite)
import(DBI)
import(IRanges)
import(Biobase)
import(S4Vectors)

importClassesFrom("AnnotationDbi", AnnotationDb)

importMethodsFrom("RSQLite", dbGetPreparedQuery)
importMethodsFrom("AnnotationDbi", columns, keytypes, keys, select, dbconn, dbfile, dbschema, dbInfo, species)

exportClasses("MeSHDb")

exportMethods("columns", "keytypes", "keys", "select", "dbconn", "dbfile", "dbschema", "dbInfo", "species", "packageName", "nomenclature", "listDatabases", "meshVersion")

export(makeGeneMeSHPackage)
export(MeSHDb)
